<p style="color: green"><%= notice %></p>

<div class="mb-3">
  <%= render @tweet %>
</div>
<div>
  <%= link_to "編集", edit_tweet_path(@tweet), class: "btn btn-secondary" %>
  <hr>
</div>
<div class="mb-3">
  <%= link_to "一覧に戻る", tweets_path, class: "btn btn-primary"%>
</div>
