<div id="<%= dom_id user %>">
  <p>
    <strong>Screen name:</strong>
    <%= user.screen_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>T:</strong>
    <%= user.t_id %>
  </p>

</div>
