<div class="p-5 mt-4 mb-4 bg-light rounded-3">
  <div class="container-fluid py-3">
    <h1 class="display-5 fw-bold mb-4">ふぁぼるわよ、私が、あんたを</h1>
    <p class="col-md-12 fs-4">スレミオのTLは過酷です。<br>
    わずか100アカウントのフォローで1日3000件のスレミオ妄想ツィートが流れます。<br>
    私たちにはAIの支援が必要です。ご理解いただきたい。<br>
    別ける、探せる、ふぁぼりある！</p>
    <p class="col-md-12 fs-4"><strong>ふぁぼりある（Favrial）</strong>はスレミオ二次創作の供給が豊かすぎて全部追いきれない！でも全部ふぁぼり<sup>*1</sup>たい！という課題感から生まれた、スレミオ民のための専用Twitterクライアントです。<br>
    ジェターク社から供与を受けた意思拡張AIと人間が協働して、あなたが寝ている最中も、TLに流れてきたスレミオ関連ツィートをほとんどすべて収集します。<sup>*2</sup></p>
    <p class="col-md-12 fs-4">ふぁぼりあるは現在βテスト中です。βテスト参加を希望される方は、<a href="https://twitter.com/witchandtrophy" target="_blank">@witchandtrophy</a>&nbsp;までDMやリプライなどでご連絡ください。
    <p><small>*1 「ふぁぼる」は古オタク語で「TwitterでLikeする」を意味します。<br>
    *2 自動的にLikeやRTを行うことはありません。また自動でTweetやDMの送信をおこなうこともありません。</small></p>
    </p>
  </div>
</div>
