<div id="<%= dom_id credential %>">
  <p>
    <strong>Token:</strong>
    <%= credential.token %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= credential.expires_at %>
  </p>

  <p>
    <strong>Expires:</strong>
    <%= credential.expires %>
  </p>

</div>
