<h1>Editing credential</h1>

<%= render "form", credential: @credential %>

<br>

<div>
  <%= link_to "Show this credential", @credential %> |
  <%= link_to "Back to credentials", credentials_path %>
</div>
