<p style="color: green"><%= notice %></p>

<h1>Credentials</h1>

<div id="credentials">
  <% @credentials.each do |credential| %>
    <%= render credential %>
    <p>
      <%= link_to "Show this credential", credential %>
    </p>
  <% end %>
</div>

<%= link_to "New credential", new_credential_path %>
